@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.container {
    display: grid;
    /* grid-template: filas / columnas; */
    grid-template: 300px 100px 100px / 50% 200px 100px;
    /* grid-gap: filas / columnas; */
    grid-gap: 2rem;
}
    .item {
        background: lightcyan;
        padding: .5rem;
        border: 1px solid red;
    }
        /* Toma solo el elemento de ese tipo que especifiquemos */
        .item:nth-of-type(4) {
            background: lightseagreen;
            overflow: auto;
            display: grid;
            grid-template: 50px 50px 50px / 200px 200px 200px;
        }
        .item .item {
            background: lightyellow;
        }