@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
.container {
    display: grid;
    grid-template: [inicio-row] 200px [intermedio-row] 200px [final-row] / [inicio-col] 1fr [col2] 1fr [col3] 1fr [destacado-end] 1fr [col5] 1fr [destacado2-end] 1fr [col7] 1fr [final-col];
    grid-gap: .3rem;
    height: 100vh;

    /* ========= */
    /* GRID IMPLÍCITO = Valores que se asignan a elementos no asignado */
    /* grid-auto-flow: column; */
    /* grid-auto-columns: 50px 100px; */
    grid-auto-rows: 50px 100px;
}
    .item {
        background: lightcyan;
        padding: .5rem;
        border: 1px solid red;
    }
        /* Toma solo el elemento de ese tipo que especifiquemos */
        .item:nth-of-type(1) {
            grid-column: inicio-col / destacado-end;
            grid-row: inicio-row / final-row;
        }
        .item:nth-of-type(2) {
            grid-column: destacado-end / destacado2-end;
            grid-row: inicio-row / final-row;
        }
        .item:nth-of-type(3) {
            grid-column: destacado2-end / final-col;
        }